@import 'react-datepicker/dist/react-datepicker.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-gray-50 text-black;
  background: linear-gradient(135deg, #0a0f2c 0%, #222831 100%);
  color: #ffffff;
  min-height: 100vh;
}
